<h2>Add a friend or family member</h2>
<% participant = @draw.participants.build %>
<%= form_for(participant, remote: true) do |f| %>
  <div id='participant_errors'>
    <%= escape_javascript(render :partial => 'participants/errors', :locals => {:participant => participant}) %>
  </div>
  
  <%= f.hidden_field :draw_id %>

    <%= f.text_field :name, placeholder: "name", :class => "inline" %>
    <%= f.text_field :email, placeholder: "email", :class => "inline" %>
    <%= f.submit "add", :class => "button" %>
<% end %>
