<h2>Add an participant</h2>
<% participant = @draw.participants.build %>
<%= form_for(participant, remote: true) do |f| %>
  <div id='participant_errors'>
    <%= escape_javascript(render :partial => 'participants/errors', :locals => {:participant => participant}) %>
  </div>
  
  <%= f.hidden_field :draw_id %>

    <%= f.text_field :name, placeholder: "name" %>
    <%= f.text_field :email, placeholder: "email" %>
    <%= f.submit "add" %>
<% end %>
