<%= form_for(@draw) do |f| %>
  <% if @draw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draw.errors.count, "error") %> prohibited this draw from being saved:</h2>

      <ul>
      <% @draw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  
  <br/>
  
  <div class="pull_right">
    <%= link_to "Cancel", root_url, :class => "button small delete"  if @draw.new_record?  %>
    <%= link_to "Cancel", @draw, :class => "button small delete"  unless @draw.new_record?  %>
    
    <%= f.submit "Create and add participants", :class => "button small save" if @draw.new_record? %>
    <%= f.submit "Update", :class => "button small save"  unless @draw.new_record? %>
  </div>
<% end %>
