<h1>Your Secret Santa Draws</h1>

<table>

<% @draws.each do |draw| %>
  <tr>
    <td><strong><%= draw.title %></strong></td>
    <td class='narrow'><%= pluralize(draw.participants.count, "participant") %></td>
    <td class='narrow'><%= draw.created_at.strftime("%D") %></td>
    <td class='narrow'><%= draw.drawn ? "Drawn" : "Not drawn" %></td>
    <td class='narrow'><%= link_to "View", draw, :class => "button tiny next" %></td>
  </tr>
<% end %>
</table>

<br/>

<div class='pull_right'>
  <%= link_to 'Start a new draw', new_draw_path, :class => "add button small" %>
</div>