<p>
  <b>Title:</b>
  <%= @draw.title %>
</p>

<p>
  <b>Message:</b>
  <%= @draw.message %>
</p>

<div id='participants'>
  <% if @draw.participants.count > 0 %>
    <h2>Participants</h2>
    <%= render @draw.participants %>
  <% end %>
</div>

<%= render "participants/form" %>

<%= link_to 'Edit', edit_draw_path(@draw) %> |
<%= link_to 'Back', draws_path %>
