<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picker_id %><br />
    <%= f.number_field :picker_id %>
  </div>
  <div class="field">
    <%= f.label :picked_id %><br />
    <%= f.number_field :picked_id %>
  </div>
  <div class="field">
    <%= f.label :hash %><br />
    <%= f.text_field :hash %>
  </div>
  <div class="field">
    <%= f.label :has_checked %><br />
    <%= f.check_box :has_checked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
